DB_NAME=db_name
DB_USER=postgres
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432

ACCESS_TOKEN_EXPIRY=7
REFRESH_TOKEN_EXPIRY=365

EMAIL_HOST_USER=email_user
EMAIL_HOST_PASSWORD=email_password

GEMINI_API_KEY=gemini_api_key
WUNDERGROUND_API_KEY=wunderground_api_key
STATION_ID=station_id
OPENWEATHERMAP_API_KEY=openweather_api_key

BASE_URL=https://example.com
BASE_URL_FE=https://example.com
URL_STORAGE=https://example.com